<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kabale University | Uganda</title>
    
</head>
<body>
    <header>
        <a href="{% url 'home'%}">Home</a> |
        <a href="{% url 'services'%}">Services</a> |
        <a href="{% url 'news'%}">News</a> |
        <a href="{% url 'faculties'%}">Faculties</a>
    </header>
    {% block content %}

    {% endblock content %}
 
</body>   
</html>